<div class="footer-background">
	<div class="container">
		<div id="footer" class="row">
			<div class="col-sm-4 text-center">
				<p class="footer-elem"><a href="/"><i class="fa fa-copyright" aria-hidden="true"></i> 2016 Brandon Lehr</a></p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="footer-social-icons" >
					<a href="https://twitter.com/brandonlehr"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					<a href="https://github.com/blehr"><i class="fa fa-github-square" aria-hidden="true"></i></a>
					<a href="https://plus.google.com/u/0/111515416664393806181"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
					<a href="/https://www.linkedin.com/in/brandonlehr/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
					<a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
				</div>
				
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>
</div>

