<hr>
<div class="profile-widget clearfix">
    <img src="{{ site.baseurl }}/images/profilefunky.jpg" class="img-rounded" />
    <div class="profile-content">
        <h4>Brandon Lehr</h4>
        <div class="profile-widget-social">
            <a href="https://twitter.com/brandonlehr"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
		    <a href="https://github.com/blehr"><i class="fa fa-github-square" aria-hidden="true"></i></a>
		    <a href="https://plus.google.com/u/0/111515416664393806181"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
		    <a href="https://www.linkedin.com/in/brandonlehr/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
        </div>
        <p class="text-left">I'm Brandon Lehr, a web developer, machinist, and sometimes mechanic (when the truck breaks down). I guess you could say that I enjoy solving problems and building things.</p>

    </div>
</div>
