<div class="col-sm-4 col-md-3">
    <div class="profile-widget">
        <img src="/images/profilefunky.jpg" class="img-responsive img-rounded">
        <p>Hello, I'm Brandon Lehr. I build things on the internets. That means I'm super cool! And that I have a beard.</p>
    </div>
    
    <div class="social-icons" >
		<a href="https://twitter.com/brandonlehr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="https://github.com/blehr"><i class="fa fa-github" aria-hidden="true"></i></a>
		<a href="https://plus.google.com/u/0/111515416664393806181"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		<a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
	</div>
    
	
</div>