<div class="col-sm-4 col-md-3">
    <div class="profile-sidebar">
        <img src="/images/profilefunky.jpg" class="img-responsive img-rounded">
        <p>I'm a web developer, machinist, and sometimes mechanic (when the truck breaks down). I guess you could say that I enjoy solving problems and building things.</p>
    </div>
    
    <div class="sidebar-social-icons" >
		<a href="https://twitter.com/brandonlehr"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
		<a href="https://github.com/blehr"><i class="fa fa-github-square" aria-hidden="true"></i></a>
		<a href="https://plus.google.com/u/0/111515416664393806181"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
		<a href="/https://www.linkedin.com/in/brandonlehr/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		<a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
	</div>
    
	
</div>