// profile widget
.profile-widget {
	width: 100%;
	min-height: 200px;
	padding: 15px 0 15px 0;
}

.profile-widget h4 {
	margin-top: 0;
}

.profile-widget img {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 15px;
	margin-bottom: 8px;
}

.profile-widget-social {
	font-size: 36px;
	margin-bottom: 10px;
}
