---
layout: default
title: About
navigation_weight: 4
breadcrumb: About
---

<style>
    .footer-background:before {
    	display: none;
    }
    
    .footer-background {
    	overflow: hidden;
    }
    
    .header-background {
    	height: 500px;
    	background-attachment: scroll;
    }
    
    @media (max-width: 900px) {
    	.header-background {
    		height: 300px;
    	
    	}
    }
</style>


<div class="container bottom-margin">


		<div class="row">
			<div class="col-sm-12">
				{% include breadcrumb.html %}
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 col-md-9">
			    <div class="blog">

    				<p>Brandon Lehr is a Christian, husband, and father who loves the challenge of learning new things. Currently, he is employed as a team leader of a Tool and Die Shop, overseeing the operation of CNC machinery in the production of forging dies.</p>
                    <p>Recently, his love of technology and all things web related, have sparked a desire to learn how all of these marvelous things work. In particular, his interests have been in the realms of HTML, CSS, JavaScript, PHP, and WordPress. He is always seeking to learn and apply the fruits of his study into his next project adventure.</p>
    
                    <p>His ability to quickly learn and master new skills makes him an excellent candidate for most any job or position.</p>
                </div>
			</div>

			{% include sidebar.html %}

		</div>
	</div>
