---
layout: default

---

<style>
	.footer-background:before {
		display: none;
	}
	
	.footer-background {
  	overflow: hidden;
  }
	
	.header-background {
		height: 500px;
		background-attachment: scroll;
	}
	
	.header-background:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		background-color: rgba(0, 0, 0, .5);
	}
	
	@media (max-width: 900px) {
		.header-background {
			height: 300px;
		
		}
		
		.header-background:before {
			height: 300px;
		}
		
		
	}
</style>

	<div class="container bottom-margin">
		<div class="row">
			<div class="col-sm-12">
			
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li><a href="/blog">Blog</a></li>
				  <li class="active"><a href="{{ page.url }}" >{{ page.title | escape }}</a></li>
				</ol>
				
				<hr>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<article itemscope itemtype="http://schema.org/BlogPosting">
					
					<header class="post-header">
			
					  	<p class="post-meta lead"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
							<br><span class="small">Posted in {% if page.categories %}
							{% assign lastCat = page.categories.last %}
							{% for cat in page.categories %}
								{{ cat }}
							{% if cat != lastCat %}
								/
							{% endif %}
							{% endfor %}
							{% endif %}</span></p>		
						
					</header>
					
					<div class="post">
						
					  {{ content }}
					
					</div>
				</article>
				<!--previous and next post-->
				<div class="post-navigation clearfix">
					{% if page.previous != nil %}
					<a href="{{ site.baseurl }}{{ page.previous.url }}" class="pull-left" ><span class="fa fa-angle-double-left"></span> {{page.previous.title}}</a>
					{% endif %}
					{% if page.next != nil %}
					<a href="{{ site.baseurl }}{{ page.next.url }}" class="pull-right text-right" >{{page.next.title}} <span class="fa fa-angle-double-right"></span></a>
					{% endif %}
				</div>
				
			</div>
			
			
	
		</div>
	</div>

